.reviews {
    &-item {
        margin-top: 60px;
        &__block {
            padding-bottom: 60px;
            display: flex;
            justify-content: space-between;
        }
        &__text {
            max-width: 680px;
        }
        &__name {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;

        }
        &__marathon {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
        &__comment {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }
        &__img {
            object-fit: cover;
            width: 169px;
            height: 169px;
            margin-right: 30px;
        }
    }

}